.form-container {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 20px;
  position: absolute;
  top: 150px;
  left: 750px;
  z-index: 10;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  label {
    font-size: 20px;
    font-weight: bold;
  }
  input,
  select {
    height: 36px;
    background-color: #5405bd;
    color: white;
    margin-top: 5px;
    &:focus {
      color: white;
    }
  }
  button {
    justify-content: center;
    margin-top: 15px;
    width: 144px;
    height: 42px;
    font-size: 16px;
  }
}
