@import "./styles/form.scss";

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.top {
  height: 40vh;
  background-color: #5405bd;
  display: flex;
}

.bottom {
  height: 60vh;
  padding-left: 75px;
}

.top-text {
  margin-top: 0;
  color: white;
}

.first {
  padding-top: 25px;
  margin-left: 85px;
  width: 350px;
}

.second {
  margin-top: 60px;
  margin-left: 275px;
}

.why {
  width: 300px;
}
